.page {
    font-family: "Inter", Arial, sans-serif;
    color: #FFFFFF;
    background: #2A2C2F;
    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    margin: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}


/*
h1,
h2,
h3,
h4,
h5,
section,
article,
p,
div,
nav,
img,
li,
header,
figure,
figcaption {
    border: 1px solid yellow;
}*/