.photo-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 1184px;
    margin: 0 48px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-gap: 14px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 368px) {
    .photo-grid {
        gap: 12px;
        min-width: 288px;
        margin: 0 16px;
    }
}