.intro__list {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
    max-width: 690px;
    margin-top: 33px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}