.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px 148px;
    text-align: center;
    max-width: 984px;
    /*padding: 0 148px;*/
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 48px 48px 0;
    }
}

@media screen and (max-width: 769px) {
    .lead {
        width: 100vw;
        max-width: 768px;
        margin: 48px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        width: 100vw;
    }
}