.place__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 26px;
    /**/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        padding: 0 16px;
    }
}