.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 92px 148px;
    text-align: start;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
        margin: 92px 48px;
    }
}

@media screen and (max-width: 769px) {
    .intro {
        max-width: 100vw;
        margin: 88px 0;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        margin: 64px 0;
    }
}