.place__link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    transition: opacity 1s;
    max-width: 200px;
}

.place__link:hover {
    opacity: 0.8;
}