.cover__title {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 195px auto 32px;
}

@media screen and (max-width: 1280px) {
    .cover__title {
        margin: 195px auto 32px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin: 115px auto 32px;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin: 33px auto 16px;
        font-size: 32px;
        line-height: 35px;
    }
}