.cover__title {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}