.place {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        gap: 48px 28px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        grid-template-columns: repeat(1, minmax(min-content, 1fr));
        gap: 32px;
    }
}